<div class="form centrar">
    <mat-card class="card">
        <mat-card-title>Registro</mat-card-title>

        <mat-card-content>
            <div class="container">
                <mat-form-field>
                    <input [(ngModel)]="singUpUser.name" matInput placeholder="Nombre">
                </mat-form-field>
                <mat-form-field>
                    <input [(ngModel)]="singUpUser.email" matInput placeholder="Email">
                </mat-form-field>
                <mat-form-field>
                    <input [(ngModel)]="singUpUser.password" matInput placeholder="Password">
                </mat-form-field>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button (click)="registro()" class="button" mat-raised-button color="primary">Registro</button>
        </mat-card-actions>

    </mat-card>
</div>